@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html, body {
  background: white;
  color:#101727;
  font-family: "Manrope", sans-serif;
}